USE [master]
GO
/****** Object:  Database [SuperStore]    Script Date: 6/6/2026 1:06:17 AM ******/
CREATE DATABASE [SuperStore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SuperStore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SuperStore.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SuperStore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SuperStore_log.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SuperStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SuperStore]
GO
/****** Object:  User [khatia1998]    Script Date: 6/6/2026 1:06:17 AM ******/
CREATE USER [khatia1998] FOR LOGIN [khatia1998] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[dim_Category]    Script Date: 6/6/2026 1:06:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_Category](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[Category] [nvarchar](50) NULL,
 CONSTRAINT [PK_dim_Category] PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_sub_category]    Script Date: 6/6/2026 1:06:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_sub_category](
	[sub_category_id] [int] IDENTITY(1,1) NOT NULL,
	[sub_category] [nvarchar](50) NULL,
	[category_id] [int] NULL,
 CONSTRAINT [PK_dim_sub_category] PRIMARY KEY CLUSTERED 
(
	[sub_category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_Products]    Script Date: 6/6/2026 1:06:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_Products](
	[product_id] [nvarchar](50) NOT NULL,
	[product_name] [nvarchar](500) NULL,
	[sub_category_id] [int] NULL,
 CONSTRAINT [PK_dim_Products] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fact_Orders]    Script Date: 6/6/2026 1:06:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fact_Orders](
	[order_id] [nvarchar](50) NULL,
	[order_date] [date] NULL,
	[customer_id] [nvarchar](50) NULL,
	[product_id] [nvarchar](50) NULL,
	[location_id] [int] NULL,
	[discount] [float] NULL,
	[sales] [int] NULL,
	[quantity] [int] NULL,
	[profit] [float] NULL,
	[row_id] [int] NOT NULL,
	[year_id] [int] NULL,
	[priority_id] [int] NULL,
	[ship_date] [date] NULL,
	[ship_mode] [nvarchar](50) NULL,
	[shipping_cost] [float] NULL,
 CONSTRAINT [PK_fact_Orders] PRIMARY KEY CLUSTERED 
(
	[row_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_running_total_by_month]    Script Date: 6/6/2026 1:06:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_running_total_by_month]
AS
WITH cte AS (
    SELECT 
        DATEADD(month, DATEDIFF(month, 0, f.order_date), 0) AS order_month_date,
        c.Category,
        SUM(f.sales) AS sale_by_month
    FROM fact_Orders f
    LEFT JOIN dim_Products p ON f.product_id = p.product_id
	left join dim_sub_category s on p.sub_category_id=s.sub_category_id
	left join dim_Category c on s.category_id=c.category_id
    GROUP BY DATEADD(month, DATEDIFF(month, 0, f.order_date), 0), c.Category
)
SELECT 
    FORMAT(order_month_date, 'yyyy-MM') AS order_month,
    Category,
    sale_by_month,
    SUM(sale_by_month) OVER (
        PARTITION BY Category 
        ORDER BY order_month_date
    ) AS cumulative_sales
FROM cte;
GO
/****** Object:  Table [dbo].[dim_Segment]    Script Date: 6/6/2026 1:06:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_Segment](
	[segment_id] [int] IDENTITY(1,1) NOT NULL,
	[segment] [nvarchar](50) NULL,
 CONSTRAINT [PK_dim_Segment] PRIMARY KEY CLUSTERED 
(
	[segment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_Customers]    Script Date: 6/6/2026 1:06:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_Customers](
	[customer_id] [nvarchar](50) NOT NULL,
	[customer_name] [nvarchar](50) NULL,
	[segment_id] [int] NULL,
 CONSTRAINT [PK_dim_Customers] PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_order_priority]    Script Date: 6/6/2026 1:06:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_order_priority](
	[priority_id] [int] IDENTITY(1,1) NOT NULL,
	[order_priority] [nvarchar](50) NULL,
 CONSTRAINT [PK_dim_order_priority] PRIMARY KEY CLUSTERED 
(
	[priority_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_cumulative_sales_by_customer]    Script Date: 6/6/2026 1:06:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_cumulative_sales_by_customer]
AS
with cte as(SELECT c.customer_name,s.segment,f.customer_id, f.order_id, f.order_date, sum(f.sales) AS sum_sales,o.order_priority
FROM            fact_Orders f
inner join dim_Customers c on f.customer_id=c.customer_id
inner join dim_Segment s on s.segment_id=c.segment_id
inner join dim_order_priority o on o.priority_id=f.priority_id
GROUP BY c.customer_name,s.segment,f.customer_id, order_id, order_date,order_priority)
    SELECT       customer_name,segment, customer_id, order_id, order_date, sum_sales, sum(sum_sales) OVER (partition BY customer_id
     ORDER BY order_id, order_date) AS cumulative_Sales,order_priority
FROM            cte
GO
/****** Object:  Table [dbo].[dim_Locations]    Script Date: 6/6/2026 1:06:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_Locations](
	[location_id] [int] IDENTITY(1,1) NOT NULL,
	[city] [nvarchar](50) NULL,
	[state] [nvarchar](50) NULL,
	[country] [nvarchar](50) NULL,
	[region] [nvarchar](50) NULL,
	[market] [nvarchar](50) NULL,
	[market2] [nvarchar](50) NULL,
 CONSTRAINT [PK_dim_Locations] PRIMARY KEY CLUSTERED 
(
	[location_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_moving_avg_months]    Script Date: 6/6/2026 1:06:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_moving_avg_months]
AS
with cte as (SELECT        FORMAT(f.order_date, 'yyyy-MM') AS months, SUM(f.sales) AS sum_sales, l.market FROM            fact_Orders f INNER JOIN
                         dim_Locations l ON f.location_id = l.location_id  GROUP BY FORMAT(order_date, 'yyyy-MM'), l.market)
    SELECT        months, sum_sales, AVG(sum_sales) OVER (partition BY market
     ORDER BY months ROWS BETWEEN 2 PRECEDING AND CURRENT ROW) AS moving_avg_3_months, market FROM            cte;
GO
/****** Object:  View [dbo].[vw_moving_avg_days]    Script Date: 6/6/2026 1:06:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_moving_avg_days]
AS
WITH cte AS (
    SELECT  
        f.order_date,
        s.segment,
        SUM(f.sales) AS sum_sales
    FROM fact_Orders f
    LEFT JOIN dim_Customers cust ON f.customer_id = cust.customer_id
    LEFT JOIN dim_Segment s ON cust.segment_id = s.segment_id
    GROUP BY f.order_date, s.segment
)
SELECT  
    order_date,
    segment,
    sum_sales,
    AVG(sum_sales) OVER (
        PARTITION BY segment 
        ORDER BY order_date 
        ROWS BETWEEN 2 PRECEDING AND CURRENT ROW
    ) AS moving_avg_3_days
FROM cte;
GO
/****** Object:  View [dbo].[vw_RFM_analysis]    Script Date: 6/6/2026 1:06:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_RFM_analysis]
AS
WITH cte AS (
    SELECT        
        customer_id, 
        MAX(order_date) AS last_order, 
        DATEDIFF(day, MAX(order_date), '2015-01-01') AS Recency_Days, 
        COUNT(DISTINCT order_id) AS Frequency_count, 
        SUM(sales) AS Monetary_value
    FROM fact_Orders
    GROUP BY customer_id
), 
cte2 AS (
    SELECT        
        customer_id, 
        last_order, 
        Recency_Days, 
        Frequency_count, 
        Monetary_value, 
        NTILE(4) OVER (ORDER BY Recency_Days ASC) AS R_score, 
        NTILE(4) OVER (ORDER BY Frequency_count ASC) AS F_score, 
        NTILE(4) OVER (ORDER BY Monetary_value ASC) AS M_score
    FROM cte
)
SELECT        
    c2.customer_id, 
    cust.customer_name,
    seg.segment, 
    c2.last_order, 
    c2.Recency_Days, 
    c2.Frequency_count, 
    c2.Monetary_value, 
    c2.R_score, 
    c2.F_score, 
    c2.M_score, 
    (c2.R_score + c2.F_score + c2.M_score) AS sum_score, 
    CONCAT(c2.R_score, '-', c2.F_score, '-', c2.M_score) AS RFM_Cell,
    
    CASE 
        WHEN c2.R_score = 1 AND c2.F_score = 4 AND c2.M_score = 4 THEN 'Champions'
        WHEN c2.R_score = 1 AND c2.F_score >= 3 THEN 'Loyal Customers'
        WHEN c2.R_score = 1 AND c2.F_score = 1 THEN 'New Customers'
        WHEN c2.R_score = 4 AND c2.F_score = 4 AND c2.M_score = 4 THEN 'Cant Lose Them'
        WHEN c2.R_score = 4 AND c2.F_score = 1 AND c2.M_score = 1 THEN 'Lost'
        ELSE 'About to Sleep'
    END AS RFM_Customer_Segment

FROM cte2 c2
LEFT JOIN dim_Customers cust ON c2.customer_id = cust.customer_id
LEFT JOIN dim_Segment seg ON cust.segment_id = seg.segment_id
;

GO
/****** Object:  View [dbo].[vw_customer_cohort_analysis]    Script Date: 6/6/2026 1:06:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_customer_cohort_analysis]
AS
WITH Cohorts AS (SELECT        customer_id, DATETRUNC(month, MIN(order_date)) AS cohort_month
                                       FROM            dbo.fact_Orders
                                       GROUP BY customer_id), Activity AS
    (SELECT DISTINCT customer_id, DATETRUNC(month, order_date) AS activity_month
      FROM            dbo.fact_Orders AS fact_Orders_1), CohortSizes AS
    (SELECT        cohort_month, COUNT(customer_id) AS cohort_size
      FROM            Cohorts AS Cohorts_1
      GROUP BY cohort_month)
    SELECT        TOP (100) PERCENT c.cohort_month, cs.cohort_size, DATEDIFF(month, c.cohort_month, a.activity_month) AS month_number, COUNT(DISTINCT a.customer_id) AS active_customers, ROUND(COUNT(DISTINCT a.customer_id) 
                              * 100.0 / cs.cohort_size, 2) AS retention_rate
     FROM            Cohorts AS c INNER JOIN
                              Activity AS a ON c.customer_id = a.customer_id INNER JOIN
                              CohortSizes AS cs ON c.cohort_month = cs.cohort_month
     GROUP BY c.cohort_month, cs.cohort_size, DATEDIFF(month, c.cohort_month, a.activity_month)
     ORDER BY c.cohort_month, month_number
GO
/****** Object:  View [dbo].[vw_customer_LTV]    Script Date: 6/6/2026 1:06:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_customer_LTV]
AS
WITH Customer_LTV_Base AS (SELECT        customer_id, COUNT(DISTINCT order_id) AS total_orders, SUM(sales) AS total_sales, SUM(profit) AS total_profit, CASE WHEN SUM(profit) >= 200 THEN 'VIP Customer' WHEN SUM(profit) 
                                                                                             BETWEEN 50 AND 199.99 THEN 'Standard Customer' ELSE 'Low Value Customer' END AS customer_category
                                                                    FROM            dbo.fact_Orders
                                                                    GROUP BY customer_id)
    SELECT        COUNT(customer_id) AS total_customers_base, ROUND(AVG(total_sales), 2) AS average_sales_per_customer, ROUND(AVG(total_profit), 2) AS Average_LTV, 
                              COUNT(CASE WHEN customer_category = 'VIP Customer' THEN 1 END) AS VIP_count
     FROM            Customer_LTV_Base AS Customer_LTV_Base_1
GO
/****** Object:  View [dbo].[vw_MoM_customers_growth]    Script Date: 6/6/2026 1:06:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_MoM_customers_growth]
AS
with cte as (SELECT        DATETRUNC(month, f.order_date) AS order_Date, l.market, count(DISTINCT f.customer_id) AS active_customers
FROM            fact_Orders f
LEFT JOIN dim_Locations l ON f.location_id = l.location_id 
    GROUP BY DATETRUNC(month, f.order_date), l.market
)
    SELECT        format(order_date, 'yyyy-MM') AS Month, market,active_customers, lag(active_customers) OVER (partition by market ORDER BY format(order_date, 'yyyy-MM')) AS last_m_customers, (active_customers - (lag(active_customers) OVER (partition by market ORDER BY order_date)))
 * 100 / NULLIF (lag(active_customers) OVER (partition by market ORDER BY order_date), 2) AS [MoM_Growth_Rate_%]
FROM            cte;
GO
/****** Object:  View [dbo].[v_Top_Performing_Products_By_SubCategory]    Script Date: 6/6/2026 1:06:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_Top_Performing_Products_By_SubCategory]
AS
WITH cte AS (SELECT        p.sub_category_id, s.sub_category, AVG(f.sales) AS sales_by_sub_category
                             FROM            dbo.fact_Orders AS f INNER JOIN
                                                      dbo.dim_Products AS p ON f.product_id = p.product_id INNER JOIN
                                                      dbo.dim_sub_category AS s ON p.sub_category_id = s.sub_category_id
                             GROUP BY p.sub_category_id, s.sub_category)
    SELECT        f.product_id, p.product_name, AVG(f.sales) AS avg_sale, ct.sub_category, ct.sales_by_sub_category
     FROM            dbo.fact_Orders AS f INNER JOIN
                              dbo.dim_Products AS p ON f.product_id = p.product_id INNER JOIN
                              cte AS ct ON ct.sub_category_id = p.sub_category_id
     GROUP BY f.product_id, p.product_name, ct.sub_category, ct.sales_by_sub_category
     HAVING         (AVG(f.sales) > ct.sales_by_sub_category) AND (COUNT(DISTINCT f.order_id) >= 20)
GO
/****** Object:  Table [dbo].[dim_year]    Script Date: 6/6/2026 1:06:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_year](
	[year_id] [int] IDENTITY(1,1) NOT NULL,
	[year] [int] NULL,
 CONSTRAINT [PK_dim_year] PRIMARY KEY CLUSTERED 
(
	[year_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[superstore]    Script Date: 6/6/2026 1:06:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[superstore](
	[Category] [nvarchar](50) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[Country] [nvarchar](50) NOT NULL,
	[Customer_ID] [nvarchar](50) NOT NULL,
	[Customer_Name] [nvarchar](50) NOT NULL,
	[Discount] [float] NOT NULL,
	[Market] [nvarchar](50) NOT NULL,
	[记录数] [tinyint] NOT NULL,
	[Order_Date] [date] NOT NULL,
	[Order_ID] [nvarchar](50) NOT NULL,
	[Order_Priority] [nvarchar](50) NOT NULL,
	[Product_ID] [nvarchar](50) NOT NULL,
	[Product_Name] [nvarchar](500) NOT NULL,
	[Profit] [float] NULL,
	[Quantity] [tinyint] NOT NULL,
	[Region] [nvarchar](50) NOT NULL,
	[Row_ID] [int] NOT NULL,
	[Sales] [smallint] NOT NULL,
	[Segment] [nvarchar](50) NOT NULL,
	[Ship_Date] [date] NOT NULL,
	[Ship_Mode] [nvarchar](50) NOT NULL,
	[Shipping_Cost] [float] NOT NULL,
	[State] [nvarchar](50) NOT NULL,
	[Sub_Category] [nvarchar](50) NOT NULL,
	[Year] [smallint] NOT NULL,
	[Market2] [nvarchar](50) NOT NULL,
	[weeknum] [tinyint] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[dim_Customers]  WITH CHECK ADD  CONSTRAINT [FK_dim_Customers_dim_Segment] FOREIGN KEY([segment_id])
REFERENCES [dbo].[dim_Segment] ([segment_id])
GO
ALTER TABLE [dbo].[dim_Customers] CHECK CONSTRAINT [FK_dim_Customers_dim_Segment]
GO
ALTER TABLE [dbo].[dim_Products]  WITH CHECK ADD  CONSTRAINT [FK_dim_Products_dim_sub_category] FOREIGN KEY([sub_category_id])
REFERENCES [dbo].[dim_sub_category] ([sub_category_id])
GO
ALTER TABLE [dbo].[dim_Products] CHECK CONSTRAINT [FK_dim_Products_dim_sub_category]
GO
ALTER TABLE [dbo].[dim_sub_category]  WITH CHECK ADD  CONSTRAINT [FK_dim_sub_category_dim_Category] FOREIGN KEY([category_id])
REFERENCES [dbo].[dim_Category] ([category_id])
GO
ALTER TABLE [dbo].[dim_sub_category] CHECK CONSTRAINT [FK_dim_sub_category_dim_Category]
GO
ALTER TABLE [dbo].[fact_Orders]  WITH CHECK ADD  CONSTRAINT [FK_fact_Orders_dim_Customers] FOREIGN KEY([customer_id])
REFERENCES [dbo].[dim_Customers] ([customer_id])
GO
ALTER TABLE [dbo].[fact_Orders] CHECK CONSTRAINT [FK_fact_Orders_dim_Customers]
GO
ALTER TABLE [dbo].[fact_Orders]  WITH CHECK ADD  CONSTRAINT [FK_fact_Orders_dim_Locations] FOREIGN KEY([location_id])
REFERENCES [dbo].[dim_Locations] ([location_id])
GO
ALTER TABLE [dbo].[fact_Orders] CHECK CONSTRAINT [FK_fact_Orders_dim_Locations]
GO
ALTER TABLE [dbo].[fact_Orders]  WITH CHECK ADD  CONSTRAINT [FK_fact_Orders_dim_order_priority] FOREIGN KEY([priority_id])
REFERENCES [dbo].[dim_order_priority] ([priority_id])
GO
ALTER TABLE [dbo].[fact_Orders] CHECK CONSTRAINT [FK_fact_Orders_dim_order_priority]
GO
ALTER TABLE [dbo].[fact_Orders]  WITH CHECK ADD  CONSTRAINT [FK_fact_Orders_dim_Products] FOREIGN KEY([product_id])
REFERENCES [dbo].[dim_Products] ([product_id])
GO
ALTER TABLE [dbo].[fact_Orders] CHECK CONSTRAINT [FK_fact_Orders_dim_Products]
GO
ALTER TABLE [dbo].[fact_Orders]  WITH CHECK ADD  CONSTRAINT [FK_fact_Orders_dim_year] FOREIGN KEY([year_id])
REFERENCES [dbo].[dim_year] ([year_id])
GO
ALTER TABLE [dbo].[fact_Orders] CHECK CONSTRAINT [FK_fact_Orders_dim_year]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "f"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 224
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "p"
            Begin Extent = 
               Top = 6
               Left = 262
               Bottom = 119
               Right = 452
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ct"
            Begin Extent = 
               Top = 6
               Left = 490
               Bottom = 119
               Right = 713
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_Top_Performing_Products_By_SubCategory'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_Top_Performing_Products_By_SubCategory'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[23] 4[19] 2[40] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_cumulative_sales_by_customer'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_cumulative_sales_by_customer'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "c"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 102
               Right = 224
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "a"
            Begin Extent = 
               Top = 6
               Left = 262
               Bottom = 102
               Right = 448
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "cs"
            Begin Extent = 
               Top = 6
               Left = 486
               Bottom = 102
               Right = 672
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_customer_cohort_analysis'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_customer_cohort_analysis'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Customer_LTV_Base_1"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 244
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_customer_LTV'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_customer_LTV'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_MoM_customers_growth'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_MoM_customers_growth'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_moving_avg_days'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_moving_avg_days'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[8] 2[33] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_moving_avg_months'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_moving_avg_months'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[8] 4[2] 2[72] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_RFM_analysis'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_RFM_analysis'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[25] 4[5] 2[52] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_running_total_by_month'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_running_total_by_month'
GO
USE [master]
GO
